Combine predictions of shift 1 and 2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sub1 = pd.read_csv(r'C:\Sync\Work\Kaggle Competitions\Ventilator Pressure Prediction\Notebooks\submission_deriv_int_shift1_rf.csv')
sub2 = pd.read_csv(r'C:\Sync\Work\Kaggle Competitions\Ventilator Pressure Prediction\Notebooks\submission_deriv_int_shift2_rf.csv')

In [5]:
sub_mean = sub1.copy()
sub_mean.pressure = (sub1.pressure + sub2.pressure)/2

In [6]:
sub_mean.to_csv('submission.csv', index=False)
print("Submission saved!")

              id  pressure
0              1  5.807262
1              2  7.665699
2              3  7.089221
3              4  6.761965
4              5  8.538852
...          ...       ...
4023995  4023996  1.000000
4023996  4023997  1.000000
4023997  4023998  1.000000
4023998  4023999  1.000000
4023999  4024000  1.000000

[4024000 rows x 2 columns]